<div class="flex items-center justify-between w-full ">
    <svg v-if="!selectedTheme" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 opacity-75 text-blueGray-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
    </svg>
    <svg v-else xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-white opacity-75" viewBox="0 0 20 20" fill="currentColor">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
    </svg>
    <div class="dark:text-white text-blueGray-700 dark:text-white uppercase font-bold text-xs ">
        Dark Mode
    </div>
    <div>
        <label
                for="toogleA"
                class="flex items-center cursor-pointer"
        >
            <!-- toggle -->
            <div class="relative">
                <!-- input -->
                <input v-model="darkMode" @change="changeStateTheme" id="toogleA" type="checkbox" class="hidden" />
                <!-- line -->
                <div
                        class="toggle__line w-7 h-2 bg-gray-400 rounded-full shadow-inner"
                ></div>
                <!-- dot -->
                <div
                        class="toggle__dot absolute w-4 h-4 rounded-full shadow inset-y-0 left-0"
                ></div>
            </div>
            <!-- label -->
        </label>
    </div>
    <!-- Toggle Button -->

</div>


