<div>
    <a
            class="text-blueGray-500 py-1 px-3"
            href="#pablo"
            ref="btnDropdownRef"
            v-on:click="toggleDropdown($event)"
    >
        <i class="fas fa-ellipsis-v"></i>
    </a>
    <transition enter-active-class="transition ease-out duration-100"
                enter-to-class="transform opacity-100 scale-100"
                enter-from-class="transform opacity-0 scale-95"
                leave-active-class="transition ease-in duration-75"
                leave-from-class="transform opacity-100 scale-100"
                leave-to-class="transform opacity-0 scale-95">
        <div
                ref="popoverDropdownRef"
                class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
                v-bind:class="{
        hidden: !dropdownPopoverShow,
        block: dropdownPopoverShow,
      }"
        >
            <a
                    href="javascript:void(0);"
                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
            >
                Action
            </a>
            <a
                    href="javascript:void(0);"
                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
            >
                Another action
            </a>
            <a
                    href="javascript:void(0);"
                    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
            >
                Something else here
            </a>
        </div>
    </transition>
</div>
