<div class="container">
    <button @click="previewsSlide" id="left">left</button>
    <div>
        <div class="scroll-snap">
            <div class="slide slide-1">1</div>
            <div class="slide slide-2">2</div>
            <div class="slide slide-3">3</div>
            <div class="slide slide-4">4</div>
            <div class="slide slide-5">5</div>
            <div class="slide slide-6">6</div>
        </div>
        <div class="dots">
        </div>
    </div>
    <button @click="nextSlide" id="right">right</button>
</div>
