<!-- component -->
<div>
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="flex lg:flex-row flex-col-reverse shadow-lg">
            <!-- left section -->
            <div class="w-full lg:w-3/5 min-h-screen shadow-lg">
                <!-- header -->
                <div class="flex flex-row justify-between items-center px-5 mt-5">
                    <div class="text-gray-800">
                        <div class="font-bold text-xl">Taller Óptico Zorion</div>
                        <div class="text-xs">
                            <div class="flex -mx-3">
                                <div class="w-full px-3 mb-5">
                                    <label for="searchItem" class="text-xs font-semibold px-1">Buscar</label>
                                    <div class="flex">
                                        <div
                                                class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                            <div class="mdi mdi-email-outline text-gray-400 text-lg">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                                </svg>
                                            </div>
                                        </div>
                                        <input
                                                @keypress.enter="searchItem"
                                                v-model="id"
                                                id="searchItem"
                                                type="text"
                                                class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-indigo-500"
                                                placeholder="johnsmith@example.com">
                                        <!--                    <button @click="searchItem"> buscar</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <!--            <div class="text-sm text-center mr-4">-->
                        <!--              <div class="font-light text-gray-500">last synced</div>-->
                        <!--              <span class="font-semibold">3 mins ago</span>-->
                        <!--            </div>-->
                        <div>
                  <span
                          class="px-4 py-2 bg-gray-200 text-gray-800 font-semibold rounded"
                  >
                  Help
            </span>
                        </div>
                    </div>
                </div>
                <!-- end header -->
                <!-- categories -->
                <div class="mt-5 flex flex-row px-5">
            <span
                    class="px-5 py-1 bg-yellow-500 rounded-2xl text-white text-sm mr-4"
            >
              All items
            </span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">
              Food
            </span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">
              Cold Drinks
            </span>
                    <span class="px-5 py-1 rounded-2xl text-sm font-semibold mr-4">
              Hot Drinks
            </span>
                </div>
                <!-- end categories -->
                <!-- products -->
                <div class="grid grid-cols-3 gap-4 px-5 mt-5 overflow-y-auto h-3/4">
                    <div
                            :visible="bag.length > 0"
                            v-for="(item, index) in bag"
                            :key="index"
                            class="px-3 py-3 flex flex-col border border-gray-200 rounded-md h-32 justify-between">
                        <div>
                            <div class="font-bold text-gray-800">{{ item.name }}</div>
                            <span class="font-light text-sm text-gray-400">150g</span>
                        </div>
                        <div class="flex flex-row justify-between items-center">
                            <span class="self-end font-bold text-lg text-yellow-500">$1.75</span>
                            <img src="https://source.unsplash.com/sc5sTPMrVfk/600x600" class=" h-14 w-14 object-cover rounded-md"
                                 alt="">
                        </div>
                    </div>
                    <div v-if="bag.length === 0">
                        No se ha agregado ningún producto
                    </div>

                    <!--          <div-->
                    <!--            class="px-3 py-3 flex flex-col border border-gray-200 rounded-md h-32 justify-between">-->
                    <!--            <div>-->
                    <!--              <div class="font-bold text-gray-800">Griled corn</div>-->
                    <!--              <span class="font-light text-sm text-gray-400">150g</span>-->
                    <!--            </div>-->
                    <!--            <div class="flex flex-row justify-between items-center">-->
                    <!--              <span class="self-end font-bold text-lg text-yellow-500">$1.75</span>-->
                    <!--              <img src="https://source.unsplash.com/MNtag_eXMKw/600x600" class=" h-14 w-14 object-cover rounded-md"-->
                    <!--                   alt="">-->
                    <!--            </div>-->
                    <!--          </div>-->
                </div>
                <!-- end products -->
            </div>
            <!-- end left section -->
            <!-- right section -->
            <div class="w-full lg:w-2/5">
                <!-- header -->
                <div class="flex flex-row items-center justify-between px-5 mt-5">
                    <div class="font-bold text-xl">Current Order</div>
                    <div class="font-semibold">
                        <span class="px-4 py-2 rounded-md bg-red-100 text-red-500">Clear All</span>
                        <span class="px-4 py-2 rounded-md bg-gray-100 text-gray-800">Setting</span>
                    </div>
                </div>
                <!-- end header -->
                <!-- order list -->
                <div class="px-5 py-4 mt-5 overflow-y-auto h-64">
                    <div
                            v-for="(item, index) in bag"
                            :key="index"
                            class="flex flex-row justify-between items-center mb-4">
                        <div class="flex flex-row items-center w-2/5">
                            <img src="https://source.unsplash.com/4u_nRgiLW3M/600x600" class="w-10 h-10 object-cover rounded-md"
                                 alt="">
                            <span class="ml-4 font-semibold text-sm">{{ item.name }}</span>
                        </div>
                        <div class="w-32 flex justify-between">
                            <span v-if="item.quantity > 1" class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer"  @click="addItem('-', item)">-</span>
                            <span v-else class="px-3 py-1 rounded-md bg-red-300 text-white cursor-pointer" @click="deleteItem(index)">x</span>
                            <span class="font-semibold mx-4">{{ item.quantity }}</span>
                            <span class="px-3 py-1 rounded-md bg-gray-300 cursor-pointer" @click="addItem('+', item)">+</span>
                        </div>
                        <div class="font-semibold text-lg w-16 text-center">
                            ${{ item.quantity * item.price }}
                        </div>
                    </div>
<!--                    <div class="flex flex-row justify-between items-center mb-4">-->
<!--                        <div class="flex flex-row items-center w-2/5">-->
<!--                            <img src="https://source.unsplash.com/4u_nRgiLW3M/600x600" class="w-10 h-10 object-cover rounded-md"-->
<!--                                 alt="">-->
<!--                            <span class="ml-4 font-semibold text-sm">Ranch Burger</span>-->
<!--                        </div>-->
<!--                        <div class="w-32 flex justify-between">-->
<!--                            <span class="px-3 py-1 rounded-md bg-red-300 text-white">x</span>-->
<!--                            <span class="font-semibold mx-4">1</span>-->
<!--                            <span class="px-3 py-1 rounded-md bg-gray-300 ">+</span>-->
<!--                        </div>-->
<!--                        <div class="font-semibold text-lg w-16 text-center">-->
<!--                            $2.50-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!-- end order list -->
                <!-- totalItems -->
                <div class="px-5 mt-5">
                    <div class="py-4 rounded-md shadow-lg">
                        <div class=" px-4 flex justify-between ">
                            <span class="font-semibold text-sm">Subtotal</span>
                            <span class="font-bold">$35.25</span>
                        </div>
                        <div class=" px-4 flex justify-between ">
                            <span class="font-semibold text-sm">Discount</span>
                            <span class="font-bold">- $5.00</span>
                        </div>
                        <div class=" px-4 flex justify-between ">
                            <span class="font-semibold text-sm">Sales Tax</span>
                            <span class="font-bold">$2.25</span>
                        </div>
                        <div class="border-t-2 mt-3 py-2 px-4 flex items-center justify-between">
                            <span class="font-semibold text-2xl">Total</span>
                            <span class="font-bold text-2xl">${{ total }}</span>
                        </div>
                    </div>
                </div>
                <!-- end total -->
                <!-- cash -->
                <div class="px-5 mt-5">
                    <div class="rounded-md shadow-lg px-4 py-4">
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex flex-col">
                                <span class="uppercase text-xs font-semibold">cashless credit</span>
                                <span class="text-xl font-bold text-yellow-500">$32.50</span>
                                <span class=" text-xs text-gray-400 ">Available</span>
                            </div>
                            <div class="px-4 py-3 bg-gray-300 text-gray-800 rounded-md font-bold"> Cancel</div>
                        </div>
                    </div>
                </div>
                <!-- end cash -->
                <!-- button pay-->
                <div class="px-5 mt-5">
                    <div
                            class="px-4 py-4
            rounded-md shadow-lg text-center bg-yellow-500 text-white font-semibold">
                        Pay With Cashless Credit
                    </div>
                </div>
                <!-- end button pay -->
            </div>
            <!-- end right section -->
        </div>
        <detail-item
                @closeModal="onCloseModal"
                :item="item"
                :showModal="showModalDetail">
        </detail-item>
        <toast></toast>
    </div>
</div>
