<div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded"
        :class="[color === 'light' ? 'bg-white' : 'bg-emerald-900 text-white']"
>
    <div class="rounded-t mb-0 px-4 py-3 border-0">
        <div class="flex flex-row items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3
                        class="font-semibold text-lg"
                        :class="[color === 'light' ? 'text-blueGray-700' : 'text-white']"
                >
                    Card Tables
                </h3>
            </div>
            <div class="relative mb-3">
                <label
                        class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                        htmlFor="grid-password"
                >
                    Search
                </label>
                <input name="email"
                       v-model="dataFilter"
                       placeholder="Name"
                       type="email"
                       class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"/>
            </div>
        </div>
    </div>
    <div class="block w-full overflow-x-auto">
        <!-- Projects table -->
        <table class="items-center w-full bg-transparent border-collapse">
            <thead>
            <tr>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                >
                    Project
                </th>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                >
                    Budget
                </th>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                >
                    Status
                </th>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                >
                    Users
                </th>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                >
                    Completion
                </th>
                <th
                        class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
                        :class="[
                color === 'light'
                  ? 'bg-blueGray-50 text-blueGray-500 border-blueGray-100'
                  : 'bg-emerald-800 text-emerald-300 border-emerald-700',
              ]"
                ></th>
            </tr>
            </thead>
            <tbody>
            <tr :key="`table-list-${index}`" v-for="(item, index) in listItems">
                <th
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left flex items-center"
                >
                    <img
                            :src="item.icon"
                            class="h-12 w-12 bg-white rounded-full border"
                            alt="..."
                    />
                    <span
                            class="ml-3 font-bold"
                            :class="[
                  color === 'light' ? 'text-blueGray-600' : 'text-white',
                ]"
                    >
                {{ item.name }}
              </span>
                </th>
                <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                    {{ item.budget }}
                </td>
                <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                    <div v-html="validateStatus(item.status)">

                    </div>
                </td>
                <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                    <div class="flex">
                        <img    v-for="(team, index) in item.users"
                                :src="team"
                                :key="`user-${index}`"
                                alt="..."
                                class="w-10 h-10 rounded-full border-2 border-blueGray-50 shadow"
                        />
                    </div>
                </td>
                <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4"
                >
                    <div class="flex items-center">
                        <span class="mr-2">{{ item.completion }}%</span>
                        <div class="relative w-full">
                            <div
                                    class="overflow-hidden h-2 text-xs flex rounded bg-red-200"
                            >
                                <div
                                        :style="{'width': item.completion+'%'}"
                                        :class="{
                                                    'bg-red-500' : item.completion <= 79,
                                                    'bg-teal-500': item.completion <= 99,
                                                    'bg-emerald-500': item.completion === 100
                                                }"
                                        class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center"
                                ></div>
                            </div>
                        </div>
                    </div>
                </td>
                <td
                        class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-right"
                >
                    <TableDropdown />
                </td>
            </tr>
            </tbody>
        </table>
        <Paginator :pagination="pagination"
                   :class="[color === 'light' ? 'bg-white' : 'bg-emerald-900 text-white']"
                   @onNext="onChangePage($event)"
                   @onPrevious="onChangePage($event)"
                   @onSelectPage="onChangePage($event)"
                   @onFilteredData="onFilterPagination($event)"
                   :data="filteredList"/>
    </div>
</div>
